<% if @titles.length > 0 %>
  <ul>
    <% @titles.each do |title| %>
      <li><%= link_to title.title, title_path(title) %></li>
    <% end %>
  </ul>
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @titles %>
    </div>
    <%= will_paginate @titles %>
  </div>
<% else %>
  No book titles exist.
<% end %>

<% if user_signed_in? %>
 <%= link_to 'Add a new Title!', new_title_path %>
<% end %>
